<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @specialist.name %>
</p>

<p>
  <strong>Specialty:</strong>
  <%= @specialist.specialty %>
</p>

<h3>Appointment History:</h3>

<table>
  <thead>
  <tr>

    <th>Patient</th>
    <th>Appointment date</th>
    <th>Days until appointment</th>

    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @specialist.appointments.each do |appointment| %>
      <tr>

        <td><%= appointment.patient.name %></td>
        <td><%= appointment.appointment_date %></td>
        <% yo =(appointment.appointment_date - Date.today)%>
        <% if yo >=0 %>
        <td><%= (appointment.appointment_date - Date.today).to_i %></td>

      </tr>
        <% end %>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Edit', edit_specialist_path(@specialist) %> |
<%= link_to 'Back', specialists_path %>
